{% if __SELF__.pub_key %}
  {% put scripts %}
  <script>
    var order_amount = $('#order_amount').val();
    var order_description = $('#order_description').val();
    var checkout = StripeCheckout.configure({
      key: "{{ __SELF__.pub_key }}",
      image: "{{ __SELF__.logo }}",
      locale: "{{ __SELF__.locale }}",
      currency: "{{ __SELF__.currency }}",
      token: function(results) {
        var invoice = { 'amount': order_amount, 'description': order_description };
        return $.request('{{ __SELF__ }}::onStripeCallback', {
            data: {'stripeData': results, 'invoiceData': invoice, 'redirect': "{{ redirect_url | default('/') }}" },
            flash: true,
            handleFlashMessage: function(message, type) {
                $.oc.flashMsg({ text: message, class: type })
            },
        });
      }
    });

    $('#stripe_checkout').click(function(e) {
      checkout.open({
        name: "{{ app_name | default(__SELF__.app_name) }}",
        amount: order_amount * 100,
        description: order_description,
      });
      e.preventDefault();
    });

    window.addEventListener('popstate', function() {
      checkout.close();
    });
  </script>
  {% endput %}
{% else %}
<div>
  <h2>{{ "A Stripe publishable key MUST be defined in the plugin settings"}}</h2>
</div>
{% endif %}
